# **Data Extraction, Transformation and Load**

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [2]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\JayneLawley\\OneDrive - xoix\\Jayne Folders\\Data An and AI Course\\vscode-projects\\Project-1-Healthcare-Insurance-Cost\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\JayneLawley\\OneDrive - xoix\\Jayne Folders\\Data An and AI Course\\vscode-projects\\Project-1-Healthcare-Insurance-Cost'

# Section 1

Section 1 content

# Load and Preview the Dataset
In this first step, I loaded the raw dataset using Pandas from the data/raw folder. The df.head() command shows the first few rows of the dataset so I could get an initial feel for its structure and the types of data I was working with.

I had some difficulty at this stage and needed help from my tutor, as I couldnâ€™t initially locate the file. We worked together to resolve the issue, which turned out to require a kernel restart.

In [5]:
from pathlib import Path # load the Path class from the pathlib module
import pandas as pd # load the pandas library
df = pd.read_csv('data/raw/insurance_costs.csv') # read the CSV file into a DataFrame
df.head() # display the first few rows of the DataFrame

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Missing values in the dataset
df.isnull().sum is used to look for for missing values in the dataset. None were found, so no cleaning was needed for missing data.

In [6]:
df.isnull().sum() # check for missing values in the DataFrame

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# Duplicates in the Dataset
I used df.duplicated().sum() to look for duplicates. One duplicate was found. In the next step I remove the duplicate value to ensure the data is clean and reliable.

In [7]:
df.duplicated().sum() # check for duplicate rows in the DataFrame

1

In [8]:
df = df.drop_duplicates() # remove duplicate rows from the DataFrame
df.duplicated().sum() # this should now return 0 if duplicate removal was successful

0

# Dataframe shape
I looked at the size and shape of the dataframe using df.shape. This returned that it was 1337 rows and 7 columns in shape. This gave me a quick overview of the dataset's size before starting analysis.

In [9]:
# Look at the shape / strucure of the data 
df.shape # returns the number of rows and columns in the DataFrame

(1337, 7)

# Dataset column types
I used df.dtypes to check the data types for each column. This helped me confirm that variables were correctly assigned (for example, numeric values like age, bmi, and charges were stored as integers or floats, and categorical values like sex, smoker, and region were stored as object types).
At this stage, everything looked appropriate, so no changes to column types were needed.

In [10]:
# look at the column types in the dataframe
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

# Unique Values
In the next three steps I used df['column'].unique() to review the unique values in sex, smoker and region columns. I did this to check for possible data entry or formatting inconsistencies that might cause issues, for example:
- "Male" vs "male" would be treated as two separate values (skewing the sex data)
- "Yes" and "yes" would be treated as two separate values (skewing the smoker data)
Everything looked consistent across these categorical columns so no changes to the data were needed.

In [ ]:
df['sex'].unique() # checking for uique values that might indicate formatting issues

array(['female', 'male'], dtype=object)

In [12]:
df['smoker'].unique() # checking for unique values in the 'smoker' column

array(['yes', 'no'], dtype=object)

In [13]:
df['region'].unique() # checking for unique values in the 'region' column

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

# Saving cleaning Dataset
I saved the cleaned dataset (with the duplicate removed) to the data/processed folder using df.to_csv(). This helped to ensure  I was working from a clean version of the data in future data analysis steps.

In [14]:
df.to_csv('data/processed/insurance_costs_cleaned.csv', index=False) # save the cleaned DataFrame to a new CSV file

---